html {
    background-color: #f6efef;
    background-attachment: fixed;
    background-size: cover;
    color: #1e181a;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    text-align: center;
}

main {
    margin: auto;
    max-width: 1400px;
    align-content: center;
    width: 100%;
    font-size: 1.2rem;
}

header,
footer {
    width: 100vw;
}

header nav {
    margin-bottom: 2px;
}

footer {
    height: calc(100% - 100px);
    position: relative;
    margin-top: 15px;
}

hr {
    position: absolute;
    height: 2px;
    width: 100vw;
    margin: auto;
    filter: blur(.5px);
    background: linear-gradient(90deg, #e94868, #a6db61);
}

a:link {
    color: #c24f66;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: #a6db61;
    text-decoration: underline;
    filter: blur(1.25px);
}

a:visited {
    color: #739c3d;
}

a:visited:hover {
    color: #72a136;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 2rem;
    animation: text 5s ease-in-out infinite;
    margin: 1%;
}

h3 {
    text-align: justify;
}

nav {
    font-size: 1.15rem;
}


h2:hover {
    transform: scale(1.15);
}

img {
    max-width: 20%;
}

img:hover {
    transform: scale(1.05);
    filter: blur(1px);
    z-index: -1;
}

ul {
    max-width: 100%;
    text-align: left;
    list-style: circle;
    list-style-position: inside;
    overflow: wrap;
}

/* Media overrides */

/* Laptops and small screens */
@media screen and (min-width: 981px) and (max-width: 1400px) {
    main {
        margin: auto;
        align-content: center;
        width: 100%;
        font-size: 1.2rem;
    }
}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        margin: auto;
        align-content: center;
        width: 100%;
        font-size: 1.2rem;
    }
}

/* Nobile devices */
@media screen and (min-width: 370px) and (max-width: 600px) {
    main {
        margin: auto;
        align-content: center;
        width: 100%;
        font-size: 1.2rem;
    }
}

/* Animated texts */
b {
    font-weight: bold;
    animation: text 5s ease-in-out infinite;
}

footer b {
    color: white;
    animation: footers 5s ease-in-out infinite;
    text-shadow: none;
}


figcaption {
    font-size: .9rem;
}

/* Keyframe animations */
@keyframes text {
    0% {
        color: #628e29;
    }

    50% {
        color: #ac3950;
    }

    100% {
        color: #628e29;
    }
}

@keyframes footers {
    0% {
        color: #f1b6c1;
    }

    50% {
        color: #bf5268;
    }

    100% {
        color: #f1b6c1;
    }
}