html {
    background: #202223;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    margin: 0;
    left: 25%;
    font-size: 4rem;
    z-index: -2;
    color: #b02f34;
    animation: h1 5s ease-in-out infinite;
}

.home-content {
    position: absolute;
    top: 15%;
    left: 25%;
    z-index: -2;
    font-size: 1.7rem;
    width: 40%;
}

#home-section{
    display: block;
}

#character-section{
    display: none;
}

#dm-section{
    display: none;
}

#apply-section{
    display: none;
}

#campaign-section{
    display: none;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    font-size: .85rem;
    font-style: italic;
    text-align: center;
    width: 220px;
}

footer hr {
    width: 175px;
}

footer a {
    color: #b02f34;
    text-decoration: none;
}

/* Images */
header img {
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: 1;
}

main img {
    position: fixed;
    right: 0;
    z-index: -3;
    opacity: 15%;
}

main table img {
    opacity: 100%;
    z-index: -2;
    width: 170px;
    position: relative;
    border-radius: 5%;
    border: 2px solid #ffffff;
}

main table {
    position: absolute;
    padding: 5px;
    border: 1px solid #121212;
    width: 70%;
    top: 15%;
    margin: 0;
    left: 25%;
    background: linear-gradient(45deg, #121212 60%, #292b2d);
    max-width: 60%;
    z-index: -2;
    border-radius: 2%;
}

/* Tables and Forms */
table {
    border-collapse: seperate;
    border-spacing: 10px 5px;
    margin: 0;
    text-align: left;
}

table div {
    display: inline-block
}

table span {
    display: inline-block;
}

th {
    font-size: 1.5rem;
    color: #b02f34;
}

form {
    width: 40%;
    border-radius: 3%;
    background: #0a0f19;
}

td {
    margin: 0;
    font-size: 1.25rem;
}

#name-cell {
    font-size: 1.6rem;
}

#chara-name {
    display: inline-block;
    font-size: 1.5rem;
}

#name-change {
    width: 45px;
}

/* Inputs, dropdowns, buttons */

label {
    font-weight: 700;
}

input[type=radio] {
    appearance: none;
    width: 1.1em;
    height: 1.1em;
    border: .15em solid white;
    border-radius: 50%
}

input[type="radio"]:checked {

    background: #A82C2D;
}

button[type=reset] {
    width: 55px;
    color: #f5eef0;
    font-weight: bold;
    border-radius: 10%;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    background: #A82C2D;
    cursor: pointer;
}

button[type=submit],
button[type=button] {
    color: #f5eef0;
    font-weight: bold;
    border-radius: 10%;
    width: 25px;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    background: #A82C2D;
}

#race-dropdown,
#class-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #11151C;
    cursor: pointer;
    border-radius: 5%;
    min-width: 160px;
    padding: 2px 15px;
    z-index: 1;
    font-weight: bold;
}

/* Header / ul */
header {
    background: linear-gradient(135deg, #262424, #121212 35%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 230px;
    z-index: -1;
    padding-top: 15px;
}


ul {
    font-size: 1.5rem;
    position: fixed;
    top: 25%;
    left: 0;
    padding: auto;
    margin: auto;
    text-align: center;
    list-style: none;
}

ul a {
    color: white;
    text-decoration: solid 2px #A82C2D;
}

ul a:hover {
    color: #A82C2D;
}

/* Keyframes */
@keyframes h1 {
    0% {
        color: #A82C2D;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #A82C2D;
    }
}