<hr>
<nav>
    <a href="https://webpages.charlotte.edu/skrupa1/" target="_new">UNCC Webpage</a> <b>✿</b>
    <a href="https://github.com/smkrupa" target="_new">Github</a> <b>✿</b>
    <a href="https://smkrupa.github.io/" target="_new">Github.io</a> <b>✿</b>
    <a href="./" target="_new">3135 Course Page</a> <b>✿</b>
    <a href="https://www.freecodecamp.org/skrupa" target="_new">freeCodeCamp</a> <b>✿</b>
    <a href="https://www.codecademy.com/profiles/smkrupa" target="_new">Codeacademy</a> <b>✿</b>
    <a href="https://www.linkedin.com/in/skylarkrupa/" target="_new">LinkedIn</a>
</nav>
<p><i>"Because every kitty should get the chance to be silly."</i></p>
<p>Designed by <a href="krupadesigns.co/">Krupa Designs</a> © 2024, <a
        href="https://www.freecodecamp.org/certification/skrupa/responsive-web-design">Certified in Responsive Web
        Design</a>
</p>
